* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
	background: rgba(247,255,255,1);
	background: -moz-linear-gradient(top, rgba(247,255,255,1) 0%, rgba(195,247,247,1) 47%, rgba(52,223,229,1) 82%, rgba(52,223,229,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,255,255,1)), color-stop(47%, rgba(195,247,247,1)), color-stop(82%, rgba(52,223,229,1)), color-stop(100%, rgba(52,223,229,1)));
	background: -webkit-linear-gradient(top, rgba(247,255,255,1) 0%, rgba(195,247,247,1) 47%, rgba(52,223,229,1) 82%, rgba(52,223,229,1) 100%);
	background: -o-linear-gradient(top, rgba(247,255,255,1) 0%, rgba(195,247,247,1) 47%, rgba(52,223,229,1) 82%, rgba(52,223,229,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,255,255,1) 0%, rgba(195,247,247,1) 47%, rgba(52,223,229,1) 82%, rgba(52,223,229,1) 100%);
	background: linear-gradient(to bottom, rgba(247,255,255,1) 0%, rgba(195,247,247,1) 47%, rgba(52,223,229,1) 82%, rgba(52,223,229,1) 100%);

	background-repeat: no-repeat;
	height: 100vh;
	font-family: sans-serif;
}

input {
	font-family: sans-serif;
}