$lightgreen: rgb(0, 204, 153);
$lightgray: rgb(230, 230, 230);
$gray: gray;

.All {
	.todo {
		color: $lightgreen;
	}

	.check {
		color: $lightgreen;

		>div:first-child {
			border: 1px solid $lightgreen;
		}
	}
}

.Complete {
	.todo {
		color: $gray;
	}

	.check {
		color: $gray;

		>div:first-child {
			border: 1px solid $gray;
		}
	}
}

.item-container {
	width: 100%;
	height: 100px;
	background: white;
	border: 1px solid $lightgray;
	padding: 12px;
	position: relative;

	.todo {
		line-height: 76px;
		width: -webkit-calc(100% - #{68px});
	    width:    -moz-calc(100% - #{68px});
	    width:         calc(100% - #{68px});
	    float: left;
	}

	ul li {
		list-style: none;
	}

	.bottom {
		position: absolute;
		bottom: 0;
	}
}

.check {
	float: left;
	font-size: 24px;
	float: left;
	cursor: pointer;
	position: relative;
	line-height: 76px;
	width: 32px;

	> div:first-child {
		margin-top: 2px;
		margin-right: 0px;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		background: rgba(0, 0, 0, 0);
		float: left;
		cursor: pointer;
		position: relative;
		top: 26px;
	}
}

.star {
	color: $lightgreen;
}

.strike{
    position: relative;
}

.strike::after{
    content: '';
    border-bottom: 2px solid $lightgreen;
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
}

.menu {
	position: relative;
	color: gray;
	float: right;
	font-size: 24px;
	height: 100%;

	li {
		cursor: pointer;
	}
}

.hidden {
	display: none;
}