$lightgreen: rgb(0, 204, 153);
$lightgray: rgb(230, 230, 230);
$gray: gray;
$lightred: rgb(230, 0, 0);
$lightyellow: rgb(255, 228, 51);

.All, .Active, .Starred {
	.todo {
		color: $lightgreen;


		input {
			color: $lightgreen;
		}
	}

	.check {
		color: $lightgreen;

		.complete {
			&.edit {
				border: 1px solid $gray !important;
			}

			&:hover {
				border: 1px solid $lightgreen;
			}
		}
	}

	.strike::after {
	    border-bottom: 2px solid $lightgreen;
	}
}

.Complete {
	.todo {
		color: $gray;

		input {
			color: $gray;
		}
	}

	.check {
		color: $gray;
	}

	.strike::after {
	    border-bottom: 2px solid $gray;
	}
}

.item-container {
	width: 100%;
	height: 100px;
	background: white;
	border: 1px solid $lightgray;
	padding: 12px;
	position: relative;
	cursor: pointer;

	.todo {
		line-height: 76px;
		width: -webkit-calc(100% - #{68px});
	    width:    -moz-calc(100% - #{68px});
	    width:         calc(100% - #{68px});
	    float: left;

		&.edit input {
			color: $gray !important;
		}

	    >div {
	    	width: 100%;
	    	height: 52px;
	    	margin-top: 10px;

	    	span {
	    		position: relative;
	    		top: -10px;
	    	}

	    	&:hover {
	    		background: rgb(223, 235, 247);
	    	}
	    }

	    input {
	    	outline: none;
	    	height: 40px;
	    	line-height: 38px;
	    	font-size: 1em;
	    	width: 100%;
	    	border: 0;
	    }
	}

	.strike{
	    position: relative;
	}

	.strike::after{
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 50%;
	    width: 100%;
	}

	ul li {
		list-style: none;
	}

	&:hover {
		box-shadow: 0px 0px 5px #888888;
		.star_o {
			display: block;

			&.active {
				display: none;
			}
		}

		.bottom {
			display: block;
		}
	}
}

.check {
	float: left;
	font-size: 24px;
	float: left;
	cursor: pointer;
	position: relative;
	line-height: 76px;
	width: 32px;

	.complete {
		border: 1px solid $lightgreen;
		margin-top: 2px;
		margin-right: 0px;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		background: rgba(0, 0, 0, 0);
		float: left;
		cursor: pointer;
		position: relative;
		top: 26px;
	}
}

.menu {
	position: relative;
	color: gray;
	float: right;
	font-size: 24px;
	height: 100%;

	li {
		cursor: pointer;
	}

	.star {
		color: $lightyellow;
	}

	.star_o {
		display: none;
		color: $lightyellow;
	}

	.bottom {
		display: none;
		position: absolute;
		bottom: 0;
		left: 2px;
		color: $lightred;
	}
}

.hidden {
	display: none;
}