.tabs {
	display: flex;
    align-items: center;
    justify-content: center;

	> div {
		padding: 12px 24px;

		a {
			color: gray;
			cursor: pointer;
			text-decoration: none;

			&:hover {
				color: rgb(0, 204, 153);
			}
		}

		&.active a {
			color: rgb(0, 204, 153);
		}
	}
}

